# Environments
venv/
env/
.env
.venv/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# MySQL / Database dumps
*.sql
*.mysql

# Python
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# VS Code
.vscode/
.history/

# OS Files
.DS_Store
Thumbs.db
